* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  --navHeight: 3rem;
  --appWidth: 70rem;
  --bgColor: white;
  --mainColor: purple;
  --secColor: rgb(255, 255, 255);
  --fontLight: white;
  --fontColor: black;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: var(--fontColor);
}

h1 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.6rem;
}

header {
  z-index: 5;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--navHeight);
}

header.filled {
  background-color: var(--secColor);
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
}

nav {
  height: 100%;
}

nav ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  list-style: none;
  font-weight: bold;
}

nav ul li + li {
  margin-left: 1rem;
}

nav #kontaktLink {
  margin-left: auto;
}

.inner {
  width: 100%;
  max-width: var(--appWidth);
  margin: 0 auto;
  padding: 0 1rem;
}

#introSection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto minmax(100%, var(--appWidth)) auto;
      grid-template-columns: auto minmax(100%, var(--appWidth)) auto;
  min-height: 100vh;
}

#introSection .inner {
  z-index: 2;
  height: 100vh;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  grid-row: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#introSection #introText {
  margin: auto 0;
  max-width: 100%;
  width: 32rem;
}

#introSection #introText p {
  margin-top: 1rem;
}

#introSection #introText #introCallToAction {
  margin-top: 2rem;
}

#introSection img {
  z-index: 0;
  grid-row: 1/-1;
  grid-column: 1/-1;
  width: 100%;
  height: calc(100vh + 10rem);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top right;
     object-position: top right;
}

#descSection {
  min-height: 20rem;
  z-index: 1;
  position: relative;
  text-align: center;
}

#descSection:before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 10rem;
  top: -10rem;
  z-index: 2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(var(--bgColor)));
  background-image: linear-gradient(transparent, var(--bgColor));
}

#descSection article {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

#descSection article div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2rem;
}

#descSection article div h1 {
  margin-bottom: 2rem;
}

#contentCards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding-bottom: 4rem;
}

.card {
  height: 20rem;
  background-color: #e9e9e9;
  width: 100%;
}

.roundedImage {
  border-radius: 0.4rem;
  overflow: hidden;
}

.roundBorder {
  border-radius: 0.4rem;
}

.overflowHidden {
  overflow: hidden;
}

.linkButton {
  display: inline-block;
  padding: 0.4rem 1rem;
  border-radius: 0.2rem;
  font-size: 1.6rem;
  background-color: var(--mainColor);
  color: var(--fontLight);
}

.imageGrid {
  padding-top: var(--navHeight);
  -webkit-columns: 4;
          columns: 4;
  -webkit-column-gap: 4px;
          column-gap: 4px;
}

.imageGrid .grid-item {
  display: block;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
  width: 100%;
  overflow: hidden;
  padding-bottom: 4px;
}

.imageGrid img {
  display: block;
  width: 100%;
  border-radius: 0.2rem;
  overflow: hidden;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */