* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  --navHeight: 3rem;
  --appWidth: 70rem;
  --bgColor: white;
  --mainColor: purple;
  --secColor: rgb(255, 255, 255);

  --fontLight: white;
  --fontColor: black;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: var(--fontColor);
}

h1 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.6rem;
}

header {
  z-index: 5;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--navHeight);

  &.filled {
    background-color: var(--secColor);
    box-shadow: 0 2px 20px  rgba(0,0,0,0.4);
  }
}

nav {
  height: 100%;

  ul {
    height: 100%;
    display: flex;
    align-items: center;

    li {
      list-style: none;
      font-weight: bold;
    }

    li+li {
      // give every li that has a li before it margin
      margin-left: 1rem;
    }
  }

  #kontaktLink {
    margin-left: auto;
  }


}

.inner {
  width: 100%;
  max-width: var(--appWidth);
  margin: 0 auto;
  padding: 0 1rem;
}



#introSection {
  display: grid;
  grid-template-columns: auto minmax(100%, var(--appWidth)) auto;
  min-height: 100vh;

  .inner {
    z-index: 2;
    height: 100vh;
    grid-column: 2/3;
    grid-row: 1/-1;
    display: flex;
  }

  #introText {
    margin: auto 0;
    max-width: 100%;
    width: 32rem;

    p {
      margin-top: 1rem;
    }



    #introCallToAction {
      margin-top: 2rem;
    }
  }

  img {
    z-index: 0;
    grid-row: 1/-1;
    grid-column: 1/-1;
    width: 100%;
    min-height: calc(100vh + 6rem);
    /* max-height: calc(100vh + 20rem); */
    //height: 100%;
    object-fit: cover;
    object-position: top right;

    //clip-path: circle(800px at 90% 20%);
  }
}

#descSection {
  min-height: 20rem;
  z-index: 1;
  position: relative;
  text-align: center;
  margin-top: -6rem;
  /* &:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 10rem;
    top: -10rem;
    z-index: 2;
    background-image: linear-gradient(transparent, var(--bgColor));
  } */

 

  article{
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    
    div{
      flex: 1;
      margin-left: 2rem;

      h1{
        margin-bottom: 2rem;
      }
    }
  }
  
}

#contentCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding-bottom: 4rem;  
}

.card {
  height: 20rem;
  background-color: rgb(233, 233, 233);
  width: 100%;
}

.roundedImage {
  border-radius: 0.4rem;
  overflow: hidden;

}

.roundBorder {
  border-radius: 0.4rem;
}
.overflowHidden {
  overflow: hidden;
}

.linkButton {
  display: inline-block;
  padding: 0.4rem 1rem;
  //border: 1px solid black;
  border-radius: 0.2rem;
  font-size: 1.6rem;
  background-color: var(--mainColor);
  color: var(--fontLight);
}






.imageGrid {
  padding-top: var(--navHeight);
  columns: 4;
  column-gap: 4px;
  .grid-item {
    display: block;
    break-inside: avoid;
    width: 100%;
    overflow: hidden;
    padding-bottom: 4px;
  }
  img {
    display: block;
    width: 100%;
    border-radius: 0.2rem;
    overflow: hidden;
    cursor: pointer;
  }
}



